html {
	position: relative;
	min-height: 100%;
  }
  
  footer {
	background-color: #D1D1D1;
  }
  nav {
		overflow: hidden;
	  }
  
.nav-item a:hover {
		background-color: #A0A0A0;
	  }


    .cartItem {
        margin-bottom: 15px;
    }