html {
	position: relative;
	min-height: 100%;
  }
  
  footer {
	background-color: #D1D1D1;
  }
  nav {
		overflow: hidden;
	  }
  
.nav-item a:hover {
		background-color: #A0A0A0;
	  }
      /* #cart {
        width: 60%;
        margin-left: 15px
    } */

    /* #summary {
        width: 18rem;
    } */

    .cartItem {
        margin-bottom: 15px;
    }

    #summary {
        /* float: right; */
        /* width: 10%; */
        /* margin-right: 100px; */
    }