<!DOCTYPE html>
<html lang="en" ng-app="billingApp">


<head>
    <meta charset="utf-8">
    <title>Billing Details</title>




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/shippingForm.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js" crossorigin="anonymous"></script>
    <script src="Javascript/billing.js"></script>


</head>




<body>
    <!-- Bootstrap Navbar -->




    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Vegan Foods</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="catalog.html">Product Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ShopperEdit.html">Shopper Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ProductForm.html">Product Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shoppingCart.html">Shopping Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shippingForm.html">Shipping Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="userlogin.html">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="billing.html">Billing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="returns.html">Returns</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div ng-controller="billingController">
        <div class="container mb-5">
            <div id="alertPlaceholder"></div>
            <h1>Billing Details</h1>




            <!-- Bootstrap Form with validation-->
            <form action="send to location here" id="billingForm" class="needs-validation" novalidate>
                <h4 class="py-2">Card Details</h4>
                <div class="row">
                    <div class="mb-2 col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">#</span>
                            <input type="number" class="form-control" id="cardNum" name="cardNum" ng-model='cardNum'
                                maxlength="16" minlength="16" required>
                            <div class="invalid-feedback">
                                Please enter a valid number.
                            </div>
                        </div>

                    </div>
                    <div class="mb-2 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2">CVV</span>
                            <input type="number" class="form-control" id="cvvNum" name="cvvNum" ng-model='cvvNum'
                                required>
                            <div class="invalid-feedback">
                                Please enter a valid number.
                            </div>
                        </div>

                    </div>
                </div>
                <h5 class="py-2">Expiration Date:</h5>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="month" class="form-label">Month:</label>
                        <input type="number" class="form-control" id="month" name="month" ng-model="month">
                        <div class="invalid-feedback">
                            Please enter a valid month.
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="year" class="form-label">Year(last 2 digits):</label>
                        <input type="number" class="form-control" id="year" name="year" ng-model="year">
                        <div class="invalid-feedback">
                            Please enter a valid year.
                        </div>
                    </div>
                </div>
                <h5 class="py-2">Name on Card:</h5>
                <div class="mb-2 row">
                    <div class="col-sm-6" id="name">
                        <label for="fName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="fName" name="fName" ng-model="fName" required>
                        <div class="invalid-feedback">
                            Please enter a valid name.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lName" name="lName" ng-model="lName" required>
                        <div class="invalid-feedback">
                            Please enter a valid name.
                        </div>
                    </div>
                </div>
                <h4 class="py-2">Address</h4>
                <div class="mb-2">
                    <label for="address" class="form-label">Billing Address:</label>
                    <input type="text" class="form-control" id="address" name="address" ng-model='address' required>
                    <div class="invalid-feedback">
                        Please enter a valid address.
                    </div>
                </div>
                <div class="mb-2">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city" name="city" ng-model='city' required>
                    <div class="invalid-feedback">
                        Please enter valid input.
                    </div>
                </div>
                <div class="mb-2">
                    <label for="state" class="form-label">State:</label>
                    <input type="text" class="form-control" id="state" name="state" maxlength="2" minlength="2"
                        ng-model='state' required>
                    <div class="invalid-feedback">
                        Please enter valid state
                    </div>
                </div>
                <div class="mb-2">
                    <label for="zipCode" class="form-label">ZIP Code:</label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode" ng-model='zip' required>
                    <div class="invalid-feedback">
                        Please enter a valid zip code.
                    </div>
                </div>
                <!-- Bootstrap Button -->
                <button type="submit" class="btn btn-primary" id="add" ng-click="displayJSON()">Submit</button>
            </form>
        </div>
        <div class="mb-2 py-2" id="billingJSON" ng-show="showJSON">
            <h2>Billing JSON:</h2>
            <p>{{billingJSON | json}}</p>
        </div>
    </div>






    <footer
        class="position-absolute bottom-0 start-50 translate-middle-x text-bg-light text-center container-fluid mt-3">
        &copy;Vegan Foods 2023
    </footer>




</body>




</html>