html {
	position: relative;
	min-height: 100%;
  }
  
  footer {
	background-color: #D1D1D1;
  }
  
  h1{
		  color: black;
		  font-size: 3em;
		  text-align: left;
	  }
	  body {
		  font-family: Arial, Helvetica, sans-serif;
	  }
  
	  nav {
		  overflow: hidden;
	  }
  
	  .nav-item a:hover {
		  background-color: #A0A0A0;
	  }
  
	  .nav-item.active {
		  background-color: darkgrey;
		  color: black;
	  }
  
  